<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array/>
<!--
This file allows Xcode 9 to render markdown files correctly.
Source: https://dev.to/danielinoa_/rendering-markdown-in-xcode-9
-->
</plist>
